.button {
  font-family: "Oswald", "Arial", sans-serif;
  background-color: @basic-green;
  color: @basic-white;
  display: block;
  width: 280px;
  padding: 8px 0;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
