.button {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: @basic-green;
  color: @basic-white;
  display: block;
  width: 280px;
  padding: 11px 0;
  text-transform: uppercase;
  text-align: center;
}
