.extra-goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.extra-goods__list {
  list-style: none;
}

.extra-goods__item-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @special-darkest-grey;
  text-transform: uppercase;
}

.extra-goods__package,
.extra-goods__price {
  line-height: 14px;
}
