.form {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper {
  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__type {
  position: relative;
  padding: 25px 0;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: @basic-light-grey;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: @basic-light-grey;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @special-grey-2;
    padding-left: 30px;

    &::before,
    &::after {
      content: none;
    }
  }
}

.form__personal-info {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
  }
}

.form__owner-contacts .form__list {
  @media (min-width: @tablet-width) {
    margin-top: 45px;
    margin-bottom: 70px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }
}

.form__legend {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  padding-top: 27px;
  margin-bottom: 32px;
  color: @basic-black;
  text-transform: none;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 40px;
    left: 20px;
    background-color: @basic-green;
    z-index: -1;
  }

  span {
    display: inline-block;
    padding-right: 20px;
    background-color: @basic-white;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      content: "";
      top: 23px;
      left: -70px;
      width: 30px;
      height: 2px;
      background-color: @basic-green;
    }

    &::after {
      top: 23px;
      left: 70px;
      background-color: @basic-green;
      z-index: -1;
    }

    span {
      padding-right: 40px;
    }

    br {
      display: none;
    }
  }
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  padding: 12px;
  text-transform: uppercase;
  color: @special-dark-grey;
  border: 1px solid @special-grey-2;
  flex-grow: 1;
  outline: none;

  &:hover {
    border: 1px solid @basic-dark-grey;
  }

  &:focus {
    border: 1px solid @special-dark-grey;
  }

  &--error {
    border: 1px solid @basic-pink;
  }

  &--error + svg * {
    stroke: @basic-pink;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 9px 19px;
  }
}

.form__input-comment {
  resize: none;
  width: 100%;
  height: 150px;

  @media (min-width: @tablet-width) {
    height: 174px;
    margin-top: 45px;
    margin-bottom: 55px;
  }
}

.form__input::placeholder {
  color: @transparent-dark-grey;
  opacity: 1;
}

.form__label {
  margin-right: 15px;
}

.form__label-email,
.form__label-phone {
  position: relative;
  margin-right: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__label-email > svg,
.form__label-phone > svg {
  position: absolute;
  right: 15px;

  @media (min-width: @tablet-width) {
    right: 20px;
  }
}

.form__label-email > input,
.form__label-phone > input {
  margin-left: 15px;
}

.form__label-radio {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 15px;
  color: @special-darkest-grey;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 8px solid @basic-white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px @basic-dark-grey;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      border: 10px solid @basic-white;
    }
  }
}

.form__input-radio:checked + .form__label-radio::before {
  background-color: @basic-green;
}

.form__input-radio:hover + .form__label-radio::before {
  box-shadow: 0 0 0 1px @basic-dark-grey-2;
}

.form__input-radio:disabled + .form__label-radio,
.form__input-checkbox:disabled + .form__label-checkbox {
  opacity: 0.3;
}

.form__label-checkbox {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 20px;
  color: @basic-black;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid @basic-dark-grey;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.form__input-checkbox:checked + .form__label-checkbox::before {
  content: url("../img/tick.svg");
}

.form__input-checkbox:hover + .form__label-checkbox::before {
  border-color: @basic-dark-grey-2;
}

.form__input[type="email"]:focus + svg *,
.form__input[type="tel"]:focus + svg {
  stroke: @basic-green;
}

.form__extra .form__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form__submit-wrapper {
  display: grid;
  justify-items: center;
  row-gap: 20px;
  margin-top: 34px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 80px;
    margin-top: 60px;
    margin-bottom: 82px;
  }
}

.form__mandatory-fields {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin: 0;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: start;
  }
}

.form__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 16px 30px;
  }
}
