.form {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.form__list {
  list-style: none;
}

.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  text-transform: none;
}

.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.form__label-radio {
  color: @special-darkest-grey;
}

.form__label-checkbox {
  color: @basic-black;
}

.form__input-comment,
.form__input-comment::placeholder {
  color: @special-dark-grey;
}

.form__mandatory-fields {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
