.form-section {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 30px;
  }
}

.form-section__header {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form-section__main-title {
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 75px;
    margin-bottom: 55px;
  }
}

.form-section__intro {
  font-family: "Oswald", "Arial", sans-serif;
  color: @basic-black;
  text-transform: uppercase;
  margin: 0;
  width: 266px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
