.main-nav__toggle {
  border: none;
  padding: 0;
  width: 24px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 440px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}


.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link--index {
  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}
