.page__body {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.page__no-js .page-header--index::after {
  top: unset;
  bottom: 174px;
}

.page__no-js .page-header__top {
  @media (max-width: 767px) {
    display: block;
    padding: 0;
  }
}

.page__no-js .page-header__logo {
  @media (max-width: 767px) {
    padding: 10px 20px 0;
  }
}

.page__no-js .main-nav__toggle {
  display: none;
}

.page__no-js .main-nav__list {
  @media (max-width: 767px) {
    margin-top: 17px;
    display: block;
    min-height: 0;
  }
}
