.page-footer {
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 13px 0;
  }
}

.page-footer__content {
  display: grid;
  justify-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
  }
}

.page-footer__logo {
  padding: 40px 0 32px;

  @media (min-width: @tablet-width) {
    margin-right: 70px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    padding-top: 45px;
  }
}

.page-footer__social {
  @media (min-width: @desktop-width) {
    padding-top: 37px;
  }
}

.page-footer__copyright {
  padding: 22px 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 210px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;
  }
}

.page-footer__copyright a {
  justify-content: space-between;
  margin-left: 47px;
}
