.plans {
  margin-top: 22px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.plans__item {
  background-color: @basic-grey;
  margin-bottom: 20px;
  padding: 25px;

  @media (min-width: @tablet-width) {
    padding: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-bottom: 0;
    padding: 50px;
  }
}

.plans__item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.plans__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.plans__text {
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: @basic-black;
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.plans__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
