.plans {
  margin-top: 18px;
  margin-bottom: 25px;
  display: grid;
  row-gap: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 28px;
    row-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-top: 82px;
    margin-bottom: 63px;
  }
}

.plans__item {
  position: relative;
  padding: 30px 30px 22px 20px;
  background-color: @basic-grey;


  @media (min-width: @tablet-width) {
    padding: 68px 0 65px 52px;

    &--weight-gain .plans__text {
      width: 340px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 78px 50px 60px;

    &--weight-gain .plans__text {
      width: 445px;
    }
  }

  &--weight-loss::before,
  &--weight-gain::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--weight-loss::before {
    width: 50px;
    height: 50px;
    background-image: url("../img/weight-loss.svg");
    top: 21px;
    left: 22px;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 212px;
      top: 77px;
      left: unset;
      right: 62px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 106px;
      top: 40px;
      left: 50px;
    }
  }

  &--weight-gain::before {
    width: 67px;
    height: 50px;
    background-image: url("../img/weight-gain.svg");
    top: 23px;
    left: 13px;

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 200px;
      top: 87px;
      left: unset;
      right: 30px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 100px;
      top: 48px;
      left: 33px;
    }
  }
}

.plans__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 68px;
  word-break: break-word;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
    margin-left: 165px;
  }
}

.plans__text {
  position: relative;
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid @basic-light-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: @basic-black;
    padding-left: 0;
    border-bottom: none;
    width: 400px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.plans__link {
  display: block;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;
  margin-top: 20px;
  padding-right: 40px;
  width: max-content;

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    right: -7px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='6' x2='18' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M24 6L17.25 11.1962L17.25 0.803848L24 6Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  &:hover::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    right: -23px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='6' x2='26' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M32 6L25.25 11.1962L25.25 0.803848L32 6Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 28px;
    padding-left: 0;

    &::after {
      top: 8px;
      right: -20px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 8px;
  }

  &:active {
    opacity: 0.5;
  }
}
