.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @special-darkest-grey;
  text-transform: uppercase;
}

.product-card__title--show-all {
  color: @special-black;
}

.product-card__link-title {
  color: inherit;
}

.product-card__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
}

.product-card__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
}

.product-card__button--show-all {
  color: @special-dark-grey;
  background-color: @basic-grey;
}
