.slider {
  display: grid;

  @media (min-width: @tablet-width) {
    min-height: 620px;
    background: linear-gradient(to bottom, @basic-white, @basic-white 200px, @basic-grey 201px);
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: -1;
  }
}

.slider__wrapper {
  height: 240px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 620px;
  }
}

.slider__slide {
  max-width: none;
  overflow: hidden;
}

.slider__slide img {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.slider__image-before {
  width: 100%;
  height: 100%;
}

.slider__image-after {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: visible;
  background-color: @special-light-grey;

  @media (min-width: @desktop-width) {
    background: linear-gradient(to bottom, @basic-white, @basic-white 200px, @basic-grey 201px);
  }
}

.slider__after-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slider__after-wrapper img {
  left: 40px;
}

.slider__controls {
  justify-self: center;
}

/* .slider__input-range {

} */

.slider__button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: @basic-black;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
}
