a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}
