/* colors */

@basic-white: #ffffff;
@basic-black: #000000;
@basic-grey: #f2f2f2;
@basic-light-grey: #d9d9d9;
@basic-dark-grey: #cdcdcd;
@basic-green: #68b738;
@special-black: #111111;
@special-green: #5eaa2f;
@special-grey: #e6e6e6;
@special-light-grey: #eaeaea;
@special-dark-grey: #444444;
@special-darkest-grey: #222222;
@extra-green: #69b539;
@extra-grey: #d3d3d3;
@extra-light-grey: #ebebeb;
@extra-dark-grey: #dcdcdc;
@extra-darkest-grey: #666666;
@transparent-dark-grey: rgba(68, 68, 68, 1);

/* viewports */

@mobile-width: 767px;
@tablet-width: 768px;
@desktop-width: 1280px;
